<div id="edit-profile" v-cloak>
  <div class="container">
    <h1>New CPD Entry</h1>
    <hr/>
    <ajax-form action="cpd-entry" :syncing.sync="syncing" @submitted="submittedForm()">
      <div class="form-group">
        <label for="full-name">module type</label>
        <input class="form-control" id="module" placeholder="eg. COMP 110" v-model="formData.Module">
        <div class="invalid-feedback" v-if="formErrors.fullName">Please enter your full name.</div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="full-name">week bio</label>
          <textarea  class="form-control" v-model="formData.Bio">stuff </textarea>
          <div class="invalid-feedback" v-if="formErrors.fullName">Please enter your full name.</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="full-name">1 - 10 rate this week</label>
          <input class="form-control" id="slider1" type="range" min="1" max="10" step="1" v-model="formData.Rating"/>
          <div class="invalid-feedback" v-if="formErrors.fullName">Please enter your full name.</div>
        </div>
      </div>
      <div class="form-group text-right">
        <a class="btn btn-outline-info" href="/account">Cancel</a>
        <ajax-button type="submit" :syncing="syncing" href="/welcome" class="btn btn-dark">Save Entry</ajax-button>
      </div>


      <!-- sdafsdfasd fasdfasdfas dfsaf sadf -->
