<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>update your CPD tracker here.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/cpd/new">Update CPD here!</a>
      <a class="btn btn-info" href="/homepage">retrieve previos bio's</a>
    </div>
    <p>
    </P>
    <div>
      <a class="btn btn-info" href="/logout">log out</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
