<div id="welcome">
  <div class="container">
    <h1>Welcome To CPD Tracker!</h1>
    <hr/>
    <p>Log in here weekly to keep track of your CPD.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/cpd/new">Module 1</a>
      <a class="btn btn-info" href="/cpd/new">Module 2</a>
      <a class="btn btn-info" href="/cpd/new">Module 3</a>
    </div>
      <p>
        </P>
        <p>
        <a class="btn btn-info" href="/account/profile">Retrieve CPD data</a>
      </p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
